
              
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  width: 700px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.summary div {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.summary h3 {
  margin: 0;
  font-size: 15px;
}

.summary p {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0 0;
}

.student-list {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.student:last-child {
  border-bottom: none;
}

.student h3 {
  margin: 0 0 5px;
}

.status {
  font-size: 14px;
  font-weight: bold;
}

.present {
  color: green;
}

.absent {
  color: red;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.present-btn {
  background-color: green;
  width: 100px;
}

.absent-btn {
  background-color: red;
  width: 100px;
}

button:hover {
  opacity: 0.8;
}
